@import 'styles/variables.module.scss';

.nodesContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
}

.cost {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 650px;

  &__stepBack {
    background-color: $red-color;
    transition: background-color 0.15s ease, color 0.15s ease;
    padding: 8px 12px;
    border-radius: 3px;
    margin-bottom: 8px;

    &:hover {
      background-color: $darkred-color;
    }
  }
}
