$primary-color: #004ec9;
$dark-color: #183b56;
$success-color: #38b000;
$red-color: #c9184a;
$darkred-color: #8a1435;
$white-color: #fff;
$gray-color: #9e9e9e;
$black-color: #000;

$step_color: #cdb4db;
